.full{
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
body {
    background-color: black;
    font-family: "Assistant",sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0px;
}
.top_panel {
    margin-bottom: 0;
    position: relative;
    z-index: 1000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.1px 0;
}
.content_wrap{
    margin: 0 auto;
}
.top_header_wrap {
    background-color: #faf6f1;
    color: #a2968a;
    font-size: 0.875em;
    letter-spacing: 0;
    padding: 0.55em 0 0.55em;
    font-family: "Noto Serif",sans-serif;
    height: 10%;

}
.contact_info {
    float: left;
}
.login_registration_wrap {
    float: right;
}
.login_registration_wrap a {
    color: #a2968a;
}
.content_wrap:after, .content_container:after {
    content: " ";
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}
.sc_layouts_row, .sc_layouts_row input[type="text"] {
    font-family: Assistant;
    font-size: 1em;
    font-weight: 700;
    font-style: normal;
    padding: 0.8em 0;
    line-height: 1.5em;
}
.columns_wrap {
    margin-left: 0px;
    margin-right: -30px;

}
.sc_layouts_column{
    display: inline-block;
    vertical-align: top;
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;

}
.sc_layouts_item:last-child {
    margin-right: 0;
}
.sc_layouts_item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5em;
}
.sc_layouts_item {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.sc_layouts_item .sc_layouts_logo {
    display: block;
    text-align: center;
}
.sc_layouts_logo img {
    max-height: 46px;
    width: auto;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
/*Menu*/
.top_panel_default .menu_main_nav_area {
    margin-top: 0.5em;
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/*Menu*/

.sc_layouts_row .sc_layouts_column_align_right .sc_layouts_item {
    margin-left: 0;
}

/*Search*/
.sc_layouts_row .sc_layouts_column_align_right .sc_layouts_item {
    margin-left: 0;
    display: inline-block;
    vertical-align: middle;
}
.search_form {
    position: relative;
}
form {
    margin-bottom: 0;
    display: block;
    margin-top: 0em;
}
.sc_layouts_row_type_normal .sc_layouts_column .search_style_fullscreen:not(.search_opened) .search_field {
    padding: 0 2.3em 0 0.7em !important;
    height: 35px;
    line-height: 35px;
    font-size: 11px;
    text-transform: uppercase;
}
.sc_layouts_row_type_normal .sc_layouts_column .search_style_fullscreen:not(.search_opened) .search_submit {
    width: 4.7727em;
    left: 0;
    right: auto;
}
/*Search*/

/*article*/

.portfolio3{
    background: url(../img/header9.jpg) no-repeat scroll center;
    background-position: 50% 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.tag-line {
    color: #555;
    letter-spacing: 10px;
    margin-bottom: 0;
    margin-top: 30px;
    text-transform: uppercase;
    word-spacing: 5px;
    font-family: 'Roboto Slab', serif !important;
    font-weight: 300;
    font-size: 17px;
}
/*social*/
.topBarInMenu{
    height: 50px;
    line-height: inherit;
    float: right;
    display: table;
    margin-left: 70px;
}
.topBarInMenu .topBarInMenuCell {
    line-height: inherit;
    display: table-cell;
    vertical-align: middle;
}
.btIco {
    line-height: inherit;
    margin-left: .25em;
    margin-right: .25em;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}
.btIco .btIcoHolder {
    line-height: inherit;
    display: inline-block;
    float: left;
}
.navbar{
    margin-bottom: 0 !important;
}
.frame {
    position: absolute;
    top: 450%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    background: #fff;
    color: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.profile {
    position: relative;
    float: left;
    width: 194px;
    height: 194px;
    margin: 4px 0 0 4px;
    cursor: pointer;
}
.profile .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
.profile .plus {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    background: #EC6565;
    border-radius: 50%;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
    pointer-events: none;
}
.profile .plus:before {
    position: absolute;
    content: '';
    width: 14px;
    height: 2px;
    top: 24px;
    left: 18px;
    background: #fff;
}
.profile .plus:after {
    position: absolute;
    content: '';
    width: 2px;
    height: 14px;
    top: 18px;
    left: 24px;
    background: #fff;
}
.profile:hover .plus {
    opacity: 1;
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0);
}
.profile:hover .overlay {
    opacity: 0.4;
}

.detail {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    font-size: 0;
}
.detail.active {
    pointer-events: all;
}
.detail.active .header {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all .8s ease-out;
    transition: all .8s ease-out;
}
.detail.active .image {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all .8s ease-out .3s;
    transition: all .8s ease-out .3s;
}
.detail.active .infos {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all .8s ease-out;
    transition: all .8s ease-out;
}
.detail.active .close {
    -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
    transform: rotate(45deg) translate3d(0, 0, 0);
    -webkit-transition: background .3s ease-in-out, -webkit-transform .8s ease-out .6s;
    transition: background .3s ease-in-out, -webkit-transform .8s ease-out .6s;
    transition: background .3s ease-in-out, transform .8s ease-out .6s;
    transition: background .3s ease-in-out, transform .8s ease-out .6s, -webkit-transform .8s ease-out .6s;
}
.detail .close {
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    background: #EC6565;
    border-radius: 50%;
    -webkit-transition: background .3s ease-in-out, -webkit-transform .5s ease-in;
    transition: background .3s ease-in-out, -webkit-transform .5s ease-in;
    transition: background .3s ease-in-out, transform .5s ease-in;
    transition: background .3s ease-in-out, transform .5s ease-in, -webkit-transform .5s ease-in;
    -webkit-transform: rotate(45deg) translate3d(-105%, -105%, 0);
    transform: rotate(45deg) translate3d(-105%, -105%, 0);
    cursor: pointer;
}
.detail .close:before {
    position: absolute;
    content: '';
    width: 14px;
    height: 2px;
    top: 24px;
    left: 18px;
    background: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.detail .close:after {
    position: absolute;
    content: '';
    width: 2px;
    height: 14px;
    top: 18px;
    left: 24px;
    background: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.detail .close:hover {
    background: #fff;
}
.detail .close:hover:after, .detail .close:hover:before {
    background: #EC6565;
}
.detail .header {
    -webkit-transform: translate3d(0, -105%, 0);
    transform: translate3d(0, -105%, 0);
    -webkit-transition: all 1s ease-in .5s;
    transition: all 1s ease-in .5s;
}
.detail .image {
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    top: 130px;
    left: 150px;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 4px 6px 15px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: translate3d(0, -250px, 0);
    transform: translate3d(0, -250px, 0);
    -webkit-transition: all 1s ease-in .2s;
    transition: all 1s ease-in .2s;
}
.detail .image img {
    width: 100%;
    height: auto;
}
.detail .infos {
    box-sizing: border-box;
    background: #EC6565;
    height: 220px;
    padding-top: 67px;
    -webkit-transform: translate3d(0, 105%, 0);
    transform: translate3d(0, 105%, 0);
    -webkit-transition: all 1s ease-in .5s;
    transition: all 1s ease-in .5s;
}
.detail .name {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.detail .action {
    margin-top: 35px;
    text-align: center;
}
.detail .action .btn {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    margin: 0 20px;
    border-radius: 45px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.detail .action .btn:hover {
    background: #fff;
    color: #EC6565;
    box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.detail .action .btn .fa {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 20px;
    font-size: 19px;
    padding-top: 12px;
}
.detail .action .btn .fa-phone {
    font-size: 22px;
}
.detail .action .btn .fa-comment {
    font-size: 20px;
    padding-top: 10px;
    left: 2px;
}
.detail .action .btn .fa-heart {
    top: 1px;
    left: 2px;
}

#detail-1 {
    display: block;
}